p {
  font-family: "Fantasque sans mono";
}
h1 {
  font-family: "Fantasque sans mono";
}
div {
  font-family: "Fantasque sans mono";
}
.firstscreen {
  color: rgb(235, 103, 38);
  font-size: 269px;
}
.orange {
  color: rgb(235, 103, 38);
  font-size: 24px;
}
.white {
  color: rgb(239, 236, 219);
  font-size: 24px;
}
.white2 {
  color: rgb(239, 236, 219);
  font-size: 24px;
}
.image-text-container {
  position: relative;
  display: inline-block;
}
