@font-face {
  font-family: "Fantasque sans mono";
  src: url("../fonts/FantasqueSansMono-Bold.woff") format("woff"),
    url("../fonts/FantasqueSansMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fantasque sans mono";
  src: url("../fonts/FantasqueSansMono-BoldItalic.woff") format("woff"),
    url("../fonts/FantasqueSansMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Fantasque sans mono";
  src: url("../fonts/FantasqueSansMono-Regular.woff") format("woff"),
    url("../fonts/FantasqueSansMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fantasque sans mono";
  src: url("../fonts/FantasqueSansMono-Italic.woff") format("woff"),
    url("../fonts/FantasqueSansMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
