* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  display: block;
  margin: auto;
  font-family: "Fantasque sans mono";
  position: relative;
  background-color: #ecc7cf;
}
/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/fantasque\ sans\ mono.svg");
  width: 1440px;
  height: 11376px;
  opacity: 0.3;
} */
/* ПЕРВЫЙ ЭКРАН */
.firstscreen {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.firstscreen h1 {
  margin-top: 94px;
  margin-left: 70px;
  line-height: 190px;
}
.mono {
  margin-top: -95px;
  margin-left: 12px;
}
.ff1 {
  margin-top: -358px;
  margin-left: 30px;
}
.ff2 {
  margin-top: 32px;
  margin-left: -128px;
}
.ff3 {
  margin-top: -356px;
  margin-left: -91px;
}
.ff4 {
  margin-left: -28px;
  margin-top: 8px;
}
.ff5 {
  margin-left: 1161px;
  margin-top: -624px;
}
/* ВТОРОЙ ЭКРАН */
.secondscreen {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 130px;
}
.text-about-font {
  width: 670px;
}
.orange {
  background-image: url("../images/buble1.svg");
  width: 670px;
  height: 117px;
  margin-top: 26px;
  margin-left: -14px;
  padding-top: 46px;
}
.orange p {
  text-align: center;
}
.white {
  width: 642px;
  height: 143px;
  background-color: #eb662b;
  border-radius: 30px;
  margin-top: 60px;
  padding-top: 49px;
  margin-left: 1px;
}
.white p {
  text-align: center;
}
.white2 {
  width: 642px;
  height: 143px;
  background-color: #eb662b;
  border-radius: 30px;
  margin-top: 36px;
  padding-top: 53px;
  margin-left: 1px;
}
.white2 p {
  text-align: center;
}
.girl1 {
  width: 459px;
  height: 612px;
  margin-left: 7px;
  margin-top: -3px;
}
.boy1 {
  width: 459px;
  height: 612px;
  margin-top: 3px;
  margin-left: 15px;
}
.bigword {
  background-image: url("../images/lines.svg");
  width: 1230px;
  height: 399px;
  margin-top: 110px;
  margin-left: 111px;
}
.bigword p {
  font-size: 206px;
  text-align: center;
  margin-left: 15px;
  margin-top: 85px;
  color: #efecdb;
}
/* ТРЕТИЙ ЭКРАН */
.thirdscreen {
  position: relative;
  display: flex;
}
.everywhere {
  font-size: 24px;
  color: rgb(235, 103, 38);
}
.v {
  margin-top: 436px;
  margin-left: -1243px;
}
.e {
  margin-top: -360px;
  margin-left: -783px;
}
.z {
  margin-left: -665px;
  margin-top: 322px;
}
.a {
  margin-top: 76px;
  margin-left: 41px;
}
.e2 {
  margin-top: 19px;
  margin-left: -454px;
}
.a {
  margin-top: -75px;
  margin-left: -104px;
}
/* ЧЕТВЕРТЫЙ ЭКРАН */
.fourthscreen {
  display: flex;
  position: relative;
  font-size: 24px;
}
.blocksleft {
  background-image: url(../images/blocks-left.svg);
  width: 93px;
  height: 79px;
  margin-top: 545px;
  margin-left: 84px;
  padding-left: 29px;
  padding-top: 9px;
}
.C {
  margin-left: 20px;
  margin-top: -4px;
}
.blocksleft p {
  color: #efecdb;
  font-size: 38px;
}
.blocks2 {
  background-image: url(../images/blocks2.svg);
  width: 68px;
  height: 111px;
  margin-top: 512px;
  margin-left: 312px;
}
.block3 {
  background-image: url(../images/block3.svg);
  width: 51px;
  height: 45px;
  margin-top: 568px;
  margin-left: 48px;
  padding-top: 10px;
  padding-left: 9px;
}
.block3 p {
  color: #efecdb;
  font-size: 38px;
}
.blocks4 {
  background-image: url(../images/blocks4.svg);
  width: 93px;
  height: 79px;
  margin-top: 523px;
  margin-left: 56px;
  padding-left: 30px;
  padding-top: 8px;
}
.blocks4 p {
  color: #efecdb;
  font-size: 38px;
}
.blocks5 {
  background-image: url(../images/blocks5.svg);
  width: 93px;
  height: 79px;
  margin-top: 529px;
  margin-left: 350px;
  padding-top: 44px;
  padding-left: 9px;
}
.P4 {
  margin-left: 6px;
}
.blocks5 p {
  color: #efecdb;
  font-size: 38px;
  display: inline;
}
.block6 {
  background-image: url(../images/block6.svg);
  width: 51px;
  height: 45px;
  margin-top: 574px;
  margin-left: 57px;
}
.C2 {
  margin-left: 21px;
  margin-top: -3px;
}
.gumanistic {
  background-image: url(../images/buble3.svg);
  width: 712px;
  height: 115px;
  margin-top: 151px;
  margin-left: -992px;
  padding-top: 38px;
}
.gumanistic p {
  text-align: center;
  color: rgb(235, 103, 38);
}
.girlsit {
  position: absolute;
  margin-top: 224px;
  margin-left: 141px;
}
.boysit {
  position: absolute;
  margin-top: 208px;
  margin-left: 789px;
}
/* ПЯТЫЙ ЭКРАН */
.fifthscreen {
  display: block;
  position: relative;
  color: rgb(235, 103, 38);
  font-size: 24px;
}
.apertura {
  background-image: url(../images/buble-aprt.svg);
  width: 355px;
  height: 90px;
  margin-top: 146px;
  margin-left: 927px;
  padding-top: 36px;
  padding-left: 62px;
}
.apertura p {
  color: rgb(235, 103, 38);
  font-size: 24px;
}
.c-screen5 {
  color: #efecdb;
  font-size: 550px;
  margin-top: -108px;
  margin-left: 124px;
}
.vector-c1 {
  margin-top: -320px;

  margin-left: 310px;
}
.vector-c2 {
  margin-top: -193px;

  margin-left: 335px;
}
.e-screen5 {
  color: #efecdb;
  font-size: 550px;
  margin-top: -548px;
  margin-left: 585px;
}
.vector-e1 {
  margin-top: -225px;
  margin-left: 770px;
}
.vector-e2 {
  margin-top: -182px;
  margin-left: 788px;
}
.z-screen5 {
  color: #efecdb;
  font-size: 530px;
  margin-top: -533px;
  margin-left: 1050px;
}
.vector-z1 {
  margin-top: -180px;
  margin-left: 1040px;
}
.vector-z2 {
  margin-top: -359px;
  margin-left: 1065px;
}
.vector-c1,
.vector-c2,
.vector-e1,
.vector-e2,
.vector-z1,
.vector-z2 {
  position: absolute;
}
/* ШЕСТОЙ ЭКРАН */
.sixthscreen {
  display: block;
  position: relative;
  color: rgb(235, 103, 38);
  font-size: 24px;
}
.element {
  background-image: url(../images/element-buble.svg);
  width: 332px;
  height: 99px;
  margin-top: 55px;
  margin-left: 130px;
  padding-top: 36px;
  padding-left: 52px;
}
.Xframe6 {
  color: #eb662b;
  font-size: 523px;
  margin-top: -82px;
  margin-left: 118px;
}
.x-circle,
.y-circle,
.z-circle {
  position: absolute;
}
.x-circle {
  margin-top: -192px;
  margin-left: 278px;
}
.z-circle {
  margin-top: -178px;
  margin-left: 1190px;
}
.y-circle {
  margin-top: -402px;
  margin-left: 545px;
}
.Yframe6 {
  color: #eb662b;
  font-size: 523px;
  margin-top: -525px;
  margin-left: 583px;
}
.Zframe6 {
  color: #eb662b;
  font-size: 523px;
  margin-top: -522px;
  margin-left: 1035px;
}
/* СЕДЬМОЙ ЭКРАН */
.seventhscreen {
  display: block;
  position: relative;
  color: rgb(235, 103, 38);
  font-size: 24px;
  margin-top: -33px;
}
.monolit {
  background-image: url(../images/monolit.svg);
  width: 702px;
  height: 96px;
  margin-top: 145px;
  margin-left: 337px;
  padding-top: 45px;
  padding-left: 169px;
}
.line1,
.line2,
.line3,
.line4 {
  position: relative;
  width: 1439px;
  height: 3px;
  background: #eb662b;
}
.line1 {
  top: 90px;
}
.line2 {
  top: 143px;
}
.line3 {
  top: 270px;
}
.line4 {
  top: 317px;
}
.theword {
  position: relative;
  top: 80px;
  left: 104px;
}
.details {
  position: relative;
  top: -249px;
  left: 204px;
}
/* ВОСЬМОЙ ЭКРАН */
.eighthscreen {
  display: block;
  position: relative;
  color: rgb(235, 103, 38);
  font-size: 24px;
}
.replic-1-8 {
  background-image: url(../images/replic-1-8.svg);
  width: 289px;
  height: 68px;
  margin-top: -114px;
  margin-left: 283px;
  padding-top: 19px;
  padding-left: 38px;
}
.girl-on {
  margin-left: 581px;
  margin-top: -50px;
  position: absolute;
  z-index: 1;
}
.replic-2-8 {
  background-image: url(../images/replic-2-8.svg);
  width: 233px;
  height: 65px;
  margin-top: -32px;
  margin-left: 818px;
  padding-top: 17px;
  padding-left: 73px;
}
.symbols {
  font-size: 32px;
  font-family: "Fantasquesansmono-regular";
  width: 1260px;
  height: 647px;
  background-color: #eb662b;
  margin-top: 91px;
  margin-left: 91px;
  padding-top: 50px;
  padding-left: 30px;
  position: absolute;
  z-index: 2;
}
.symbols p {
  color: #efecdb;
}
.stroka2 {
  margin-top: 1px;
}
.stroka3 {
  margin-top: 3px;
}
.stroka4 {
  margin-top: 2px;
}
.stroka5 {
  margin-top: 1px;
}
.stroka6 {
  margin-top: 3px;
}
.stroka7 {
  margin-top: 2px;
}
.stroka8 {
  margin-top: 2px;
}
.stroka9 {
  margin-top: 3px;
}
.stroka10 {
  margin-top: 1px;
}
.stroka11 {
  margin-top: 1px;
}
.stroka12 {
  margin-top: 3px;
}
.stroka13 {
  margin-top: 1px;
}
.stroka14 {
  margin-top: 3px;
}
.stroka15 {
  margin-top: 1px;
}
.stroka16 {
  margin-top: 3px;
}
.stroka17 {
  margin-top: 1px;
}
.arms-symbols {
  position: absolute;
  z-index: 3;
  margin-top: 65px;
  margin-left: 605px;
}
/* ДЕВЯТЫЙ ЭКРАН */
.ninthscreen {
  display: block;
  position: relative;
  color: #efecdb;
  font-size: 24px;
  margin-top: 832px;
}
.A-symbols {
  width: 730px;
  height: 467px;
  background-color: #eb662b;
}
.table {
  position: relative;
  width: 755px;
  height: 467px;
  margin-top: 94px;
  margin-left: 93px;
  display: flex;
  flex-wrap: wrap;
}
.block1,
.block2,
.block-9-3,
.block4,
.block5,
.block-9-6,
.block7,
.block8,
.block1two,
.block2two,
.block3two,
.block4two,
.block5two,
.block6two,
.block7two,
.block8two,
.block1three,
.block2three,
.block3three,
.block4three,
.block5three,
.block6three,
.block7three,
.block8three,
.block1four,
.block2four,
.block3four,
.block4four,
.block5four,
.block6four,
.block7four,
.block8four,
.block1five,
.block2five,
.block3five,
.block4five,
.block5five,
.block6five,
.block7five,
.block8five {
  width: 94px;
  height: 93.5px;
  margin-left: -3px;
  background: #eb662b;
}
.block1two,
.block2two,
.block3two,
.block4two,
.block5two,
.block6two,
.block7two,
.block8two {
  border-color: #efecdb;
  border-bottom: 8px solid;
}
.block1,
.block2,
.block-9-3,
.block4,
.block5,
.block-9-6,
.block7,
.block8 {
  border-bottom: #efecdb 8px solid;
}
.block1three,
.block2three,
.block3three,
.block4three,
.block5three,
.block6three,
.block7three,
.block8three {
  border-color: #efecdb;

  border-bottom: 8px solid;
}
.block1,
.block1two,
.block1three,
.block1four,
.block1five {
  border-right: #efecdb 5px solid;
}
.block1four,
.block2four,
.block3four,
.block4four,
.block5four,
.block6four,
.block7four,
.block8four {
  border-color: #efecdb;

  border-bottom: 8px solid;
}
.block1five,
.block2five,
.block3five,
.block4five,
.block5five,
.block6five,
.block7five,
.block8five {
  border-color: #efecdb;
}
.block2,
.block2two,
.block2three,
.block2four,
.block2five {
  border-right: #efecdb 5px solid;
  border-left: #efecdb 5px solid;
}
.block-9-3,
.block3two,
.block3three,
.block3four,
.block3five {
  border-right: #efecdb 5px solid;
  border-left: #efecdb 5px solid;
}
.block4,
.block4two,
.block4three,
.block4four,
.block4five {
  border-right: #efecdb 5px solid;
  border-left: #efecdb 5px solid;
}
.block5,
.block5two,
.block5three,
.block5four,
.block5five {
  border-right: #efecdb 5px solid;
  border-left: #efecdb 5px solid;
}
.block-9-6,
.block6two,
.block6three,
.block6four,
.block6five {
  border-right: #efecdb 5px solid;
  border-left: #efecdb 5px solid;
}
.block7,
.block7two,
.block7three,
.block7four,
.block7five {
  border-right: #efecdb 5px solid;
  border-left: #efecdb 5px solid;
}
.block8,
.block8two,
.block8three,
.block8four,
.block8five {
  border-left: #efecdb 5px solid;
}
.letter1,
.letter2,
.letter3,
.letter4,
.letter5,
.letter6,
.letter7,
.letter8,
.letter9,
.letter10,
.letter11,
.letter12,
.letter13,
.letter14 {
  position: relative;
  font-size: 80px;
  color: #efecdb;
}
.letter1 {
  top: 7px;
  left: 20px;
}
.letter2 {
  margin-top: 5px;
  margin-left: 20px;
}
.letter3 {
  margin-top: 7px;
  margin-left: 21px;
}
.letter4 {
  top: 5px;
  left: 25px;
}
.letter5 {
  margin-top: 5px;
  margin-left: 20px;
}
.letter6 {
  margin-top: 4px;
  margin-left: 19px;
}
.letter7 {
  top: 6px;
  left: 20px;
}
.letter8 {
  margin-top: 6px;
  margin-left: 20px;
}
.letter9 {
  margin-top: 4px;
  margin-left: 20px;
}
.letter10 {
  top: -2px;
  left: 20px;
}
.letter11 {
  margin-left: 20px;
}
.letter12 {
  margin-top: 4px;
  margin-left: 20px;
}
.letter13 {
  margin-left: 25px;
  margin-top: 8px;
}
.letter14 {
  margin-top: 8px;
  margin-left: 18px;
}
.morfema {
  background-image: url(../images/morfema.svg);
  width: 314px;
  height: 148px;
  color: #eb662b;
  margin-left: 856px;
  margin-top: -447px;
  padding-top: 26px;
  padding-left: 33px;
}
.theboy {
  margin-left: 231px;
  margin-top: -113px;
}
/* ДЕСЯТЫЙ ЭКРАН */
.girl-arm {
  margin-top: 458px;
  margin-left: 74px;
}
.menaytsa {
  background-image: url(../images/menaytsa.svg);
  width: 406px;
  height: 138px;
  font-size: 24px;
  color: #eb662b;
  margin-top: -508px;
  margin-left: 287px;
  padding-left: 64px;
  padding-top: 43px;
}
.ten-letters {
  display: flex;
  color: #eb662b;
  gap: 20px;
}
.t-l-d {
  font-size: 260px;
  margin-top: -216px;
  margin-left: 752px;
}
.t-l-g {
  font-size: 305px;
  margin-top: -235px;
  margin-left: 56px;
}
.t-l-t {
  font-size: 296px;
  margin-top: -229px;
  margin-left: 67px;
}
.t-l-d-i {
  font-size: 250px;
  margin-top: -30px;
  margin-left: 750px;
}
.t-l-g-i {
  font-size: 300px;
  margin-top: -75px;
  margin-left: 60px;
}
.t-l-t-i {
  font-size: 287px;
  margin-top: -75px;
  margin-left: 70px;
}
.ten-letters-two {
  display: flex;
  font-size: 296px;
  color: #eb662b;
  font-style: italic;
  gap: 20px;
}
.eleven {
  margin-top: 347px;
  margin-left: 90px;
  font-size: 80.5px;
  color: #eb662b;
}
.eleven-italic {
  font-style: italic;
}
.eleven-bold {
  font-family: "Fantasque sans mono";
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
}
.eleven-bold-italic {
  font-weight: bold;
}
.nachertanya {
  background-image: url(../images/nachertanya.svg);
  width: 438px;
  height: 90px;
  color: #eb662b;
  font-size: 24px;
  margin-left: 690px;
  margin-top: -468px;
  padding-top: 32px;
  padding-left: 42px;
}
.girl-flowers {
  margin-left: 1077px;
  margin-top: -150px;
}
.flower-1N {
  position: absolute;
  margin-top: -507px;
  margin-left: 95px;
}
.flower-2N {
  position: absolute;
  margin-top: -471px;
  margin-left: 240px;
}
.eleven-italic {
  margin-top: 6px;
  margin-left: 3px;
}
.eleven-italic2 {
  position: absolute;
  margin-top: -81px;
  margin-left: 461px;
  font-style: italic;
}
.eleven-bold-italic {
  margin-top: 4px;
  margin-left: 3px;
  font-style: italic;
}
.flower-3N {
  position: absolute;
  margin-top: -247px;
  margin-left: 464px;
}
.flower-4N {
  position: absolute;
  margin-top: -147px;
  margin-left: 673px;
}
.flower-5N {
  position: absolute;
  margin-top: -334px;
  margin-left: 863px;
}
.flower-6N {
  position: absolute;
  margin-top: -104px;
  margin-left: 1053px;
}
.flower-7N {
  position: absolute;
  margin-top: -64px;
  margin-left: 1289px;
}
.boy-on-box {
  position: absolute;
  margin-top: 248px;
  margin-left: 199px;
  z-index: 1;
}
.on-box-1 {
  background-image: url(../images/on-box-1.svg);
  width: 583px;
  height: 106px;
  color: #eb662b;
  font-size: 24px;
  margin-top: 150px;
  position: absolute;
  margin-left: 350px;
  padding-top: 27px;
  padding-left: 93px;
}
.on-box-2 {
  background-image: url(../images/on-box-2.svg);
  width: 297px;
  height: 92px;
  color: #eb662b;
  font-size: 24px;
  position: absolute;
  margin-top: 278px;
  margin-left: 710px;
  padding-top: 30px;
  padding-left: 62px;
}
.on-box-3 {
  background-image: url(../images/on-box-3.svg);
  width: 297px;
  height: 83px;
  color: #eb662b;
  font-size: 24px;
  position: absolute;
  margin-top: 400px;
  margin-left: 462px;
  padding-top: 30px;
  padding-left: 93px;
}
.girl-on-box {
  position: absolute;
  margin-top: 256px;
  margin-left: 1054px;
  z-index: 1;
}
.orange-box {
  background-color: #eb662b;
  width: 1445px;
  height: 704px;
  position: absolute;
  z-index: 2;
  margin-top: 521px;
}
.arms-boy-box {
  position: absolute;
  z-index: 3;
  margin-top: 401px;
  margin-left: 225px;
}
.arms-girl-box {
  position: absolute;
  z-index: 3;
  margin-top: 484px;
  margin-left: 1040px;
}
.belorus,
.cestina,
.magyar,
.greek,
.tatar,
.russian,
.english,
.italiana,
.bolgarian,
.bashkort,
.german,
.latin,
.french,
.polski,
.spanish,
.kazak,
.turkish,
.ukranian {
  z-index: 3;
  position: absolute;
}
.bashkort {
  margin-top: 546px;
  margin-left: 823px;
}
.german {
  margin-top: 659px;
  margin-left: 761px;
}
.latin {
  margin-top: 887px;
  margin-left: 740px;
}
.french {
  margin-top: 1088px;
  margin-left: 752px;
}
.grench {
  margin-top: 10px;
  margin-left: 10px;
}
.polski {
  margin-top: 497px;
  margin-left: 1120px;
}
.spanish {
  margin-top: 743px;
  margin-left: 1060px;
}
.kazak {
  margin-top: 793px;
  margin-left: 1163px;
}
.turkish {
  margin-top: 954px;
  margin-left: 1040px;
}
.ukranian {
  margin-top: 1083px;
  margin-left: 1162px;
}
.russian {
  margin-top: 700px;
  margin-left: 481px;
}
.english {
  margin-top: 806px;
  margin-left: 320px;
}
.italiana {
  margin-top: 932px;
  margin-left: 420px;
}
.bolgarian {
  margin-top: 1108px;
  margin-left: 462px;
}
.belorus {
  margin-top: 550px;
  margin-left: 86px;
}
.magyar {
  margin-top: 578px;
  margin-left: 116px;
}
.tatar {
  margin-top: 892px;
  margin-left: 105px;
}
.cestina {
  margin-top: 1073px;
  margin-left: 95px;
}
.greek {
  margin-top: 563px;
  margin-left: 382px;
}
/* ТРИНАДЦАТЫЙ ЭКРАН */
.thirteenthscreen {
  margin-top: -38px;
}
.boy-lupa {
  margin-top: 1415px;
  margin-left: 38px;
}
.size {
  background-image: url(../images/buble-size.svg);
  width: 236px;
  height: 153px;
  color: #eb662b;
  font-size: 24px;
  margin-top: -526px;
  margin-left: 262px;
  padding-top: 33px;
  padding-left: 50px;
}
.px12 {
  font-size: 12px;
  margin-top: -68px;
}
.px18 {
  font-size: 18px;
  margin-top: 84px;
  margin-left: -10px;
}
.px24 {
  font-size: 24px;
  margin-top: 107px;
  margin-left: -23px;
}
.pixels {
  color: #eb662b;
  margin-left: 544px;
}
.text-px-12 {
  margin-top: -246px;
  margin-left: 586px;
  color: #eb662b;
  font-size: 12px;
}
.text-px-18 {
  margin-top: 57px;
  margin-left: 586px;
  color: #eb662b;
  font-size: 18px;
}
.text-px-24 {
  margin-top: 38px;
  margin-left: 585px;
  color: #eb662b;
  font-size: 24px;
}
/* ЧЕТЫРНАДЦАТЫЙ ЭКРАН */
.fourthsceen {
  margin-top: -324px;
}
.branches-girl {
  position: absolute;
  margin-top: -432px;
  z-index: 1;
}
.branches-boy {
  position: absolute;
  margin-top: -418px;
  margin-left: 760px;
  z-index: 1;
}
.girl-flowers-end {
  position: absolute;
  z-index: 2;
  margin-top: -140px;
  margin-left: 92px;
}
.boy-flowers {
  position: absolute;
  z-index: 2;
  margin-top: -82px;
  margin-left: 1087px;
}
.we-are-done {
  background-image: url(../images/we-are-done.svg);
  width: 387px;
  height: 92px;
  color: #eb662b;
  font-size: 24px;
  margin-top: 786px;
  margin-left: 352px;
  padding-top: 32px;
  padding-left: 57px;
}
.we-are-cool {
  background-image: url(../images/we-are-cool.svg);
  width: 355px;
  height: 112px;
  color: #eb662b;
  font-size: 24px;
  margin-top: -6px;
  margin-left: 726px;
  padding-top: 40px;
  padding-left: 29px;
}
/* ПЯТНАДЦАТЫЙ ЭКРАН */
.fifthscreen {
  margin-top: px;
}
.stiker1 {
  margin-top: 330px;
  margin-left: 38px;
}
.stiker2 {
  margin-left: 54px;
}
.stiker3 {
  margin-left: 55px;
}
.stiker4 {
  margin-left: 57px;
}
.stiker5 {
  margin-left: 52px;
}
.numbers-end {
  display: flex;
  color: #eb662b;
  font-size: 248px;
  margin-top: 75px;
  margin-left: 66px;
}
.box-beige-0 {
  width: 143px;
  height: 230px;
  background-color: #efecdb;
  border-radius: 40px;
  margin-top: -216px;
  margin-left: 55px;
}
.box-beige-1 {
  width: 143px;
  height: 230px;
  background-color: #efecdb;
  border-radius: 40px;
  margin-top: -231px;
  margin-left: 225px;
}
.box-beige-2 {
  width: 143px;
  height: 230px;
  background-color: #efecdb;
  border-radius: 40px;
  margin-top: -230px;
  margin-left: 391px;
}
.box-beige-3 {
  width: 143px;
  height: 230px;
  background-color: #efecdb;
  border-radius: 40px;
  margin-top: -231px;
  margin-left: 560px;
}
.box-beige-4 {
  width: 143px;
  height: 230px;
  background-color: #efecdb;
  border-radius: 40px;
  margin-top: -230px;
  margin-left: 728px;
}
.box-beige-5 {
  width: 143px;
  height: 230px;
  background-color: #efecdb;
  border-radius: 40px;
  margin-top: -228px;
  margin-left: 895px;
}
.box-beige-6 {
  width: 143px;
  height: 230px;
  background-color: #efecdb;
  border-radius: 40px;
  margin-top: -232px;
  margin-left: 1064px;
}
.box-beige-7 {
  width: 143px;
  height: 230px;
  background-color: #efecdb;
  border-radius: 40px;
  margin-top: -230px;
  margin-left: 1231px;
}
.number-1-end {
  margin-left: 35px;
}
.number-2-end {
  margin-left: 46px;
}
.number-3-end {
  margin-left: 44px;
  margin-top: -2px;
}
.number-4-end {
  margin-left: 27px;
  margin-top: 2px;
}
.number-5-end {
  margin-left: 51px;
  margin-top: 2px;
}
.number-6-end {
  margin-left: 40px;
}
.number-7-end {
  margin-left: 36px;
  margin-top: 3px;
}
.numbers-words {
  display: flex;
  color: #eb662b;
  font-size: 19px;
  margin-top: -25px;
  margin-left: 108px;
}
.number-1-word {
  margin-left: 129px;
}
.number-2-word {
  margin-left: 135px;
}
.number-3-word {
  margin-left: 140px;
  margin-top: 1px;
}
.number-4-word {
  margin-left: 123px;
  margin-top: -4px;
}
.number-5-word {
  margin-left: 115px;
}
.number-6-word {
  margin-left: 125px;
  margin-top: -4px;
}
.number-7-word {
  margin-left: 123px;
  margin-top: -3px;
}
.markers {
  display: flex;
  margin-top: -27px;
}
.marker1 {
  margin-left: -20px;
}
.marker2 {
  margin-left: -228px;
}
.marker3 {
  margin-left: -228px;
  margin-top: -2px;
}
.marker4 {
  margin-left: -226px;
}
.marker5 {
  margin-left: -221px;
  margin-top: -3px;
}
.marker6 {
  margin-left: -223px;
  margin-top: -4px;
}
.marker7 {
  margin-left: -222px;
}
.marker8 {
  margin-left: -220px;
  margin-top: -4px;
}
.marker9 {
  margin-left: -219px;
  margin-top: -3px;
}
.marker10 {
  margin-left: -224px;
  margin-top: -3px;
}
.marker11 {
  margin-left: -220px;
  margin-top: -2px;
}
.marker12 {
  margin-left: -221px;
  margin-top: -4px;
}
.marker13 {
  margin-left: -222px;
  margin-top: -3px;
}
/* ПОДВАЛ */
.podval {
  background-color: #eb662b;
  width: 1440px;
  height: 174px;
  margin-top: -2px;
}
.podval-words {
  color: #efecdb;
  font-size: 24px;
}
.Daria {
  margin-top: -99px;
  margin-left: 86px;
}
.uvki {
  margin-top: -24px;
  margin-left: 630px;
}
.Kamila {
  margin-top: -36px;
  margin-left: 1192px;
}
