* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  display: block;
  margin: auto;
  font-family: "Fantasque sans mono";
  position: relative;
  background-color: #ecc7cf;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/figma\ maket.svg");
  width: 1440px;
  height: 11291px;
  opacity: 0.3;
}
/* ПЕРВЫЙ ЭКРАН */
.firstscreen {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.firstscreen h1 {
  margin-top: 94px;
  margin-left: 70px;
  line-height: 190px;
}
.mono {
  margin-top: -95px;
  margin-left: 20px;
}
.firstscreen img {
  position: absolute;
  top: 70px;
  left: 595px;
  width: 845px;
}
/* ВТОРОЙ ЭКРАН */
.secondscreen {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 180px;
}
.text-about-font {
  width: 670px;
}
.orange {
  background-image: url("../images/buble1.svg");
  width: 670px;
  height: 117px;
  margin-top: 26px;
  margin-left: 1px;
  padding-top: 46px;
}
.orange p {
  text-align: center;
}
.white {
  width: 642px;
  height: 143px;
  background-color: #eb662b;
  border-radius: 30px;
  margin-top: 60px;
  padding-top: 49px;
  margin-left: 1px;
}
.white p {
  text-align: center;
}
.white2 {
  width: 642px;
  height: 143px;
  background-color: #eb662b;
  border-radius: 30px;
  margin-top: 36px;
  padding-top: 53px;
  margin-left: 1px;
}
.white2 p {
  text-align: center;
}
.girl1 {
  width: 459px;
  height: 612px;
  margin-left: 7px;
  margin-top: -3px;
}
.boy1 {
  width: 459px;
  height: 612px;
  margin-top: 3px;
  margin-left: 1px;
}
.bigword {
  background-image: url("../images/lines.svg");
  width: 1230px;
  height: 399px;
  margin-top: 110px;
  margin-left: 111px;
}
.bigword p {
  font-size: 206px;
  text-align: center;
  margin-left: 15px;
  margin-top: 85px;
  color: #efecdb;
}
.thirdscreen {
  position: relative;
  display: flex;
}
.everywhere {
  font-size: 24px;
  color: rgb(235, 103, 38);
}
.v {
  margin-top: 436px;
  margin-left: -1243px;
}
.e {
  margin-top: -360px;
  margin-left: -783px;
}
.z {
  margin-left: -665px;
  margin-top: 322px;
}
.a {
  margin-top: 76px;
  margin-left: 41px;
}
.e2 {
  margin-top: 19px;
  margin-left: -454px;
}
.a {
  margin-top: -75px;
  margin-left: -104px;
}
.fourthscreen {
  display: flex;
  position: relative;
  font-size: 24px;
}
.blocksleft {
  background-image: url(../images/blocks-left.svg);
  width: 93px;
  height: 79px;
  margin-top: 545px;
  margin-left: 84px;
  padding-left: 29px;
  padding-top: 9px;
}
.C {
  margin-left: 20px;
  margin-top: -4px;
}
.blocksleft p {
  color: #efecdb;
  font-size: 38px;
}
.blocks2 {
  background-image: url(../images/blocks2.svg);
  width: 68px;
  height: 111px;
  margin-top: 512px;
  margin-left: 312px;
}
.block3 {
  background-image: url(../images/block3.svg);
  width: 51px;
  height: 45px;
  margin-top: 568px;
  margin-left: 48px;
  padding-top: 10px;
  padding-left: 9px;
}
.block3 p {
  color: #efecdb;
  font-size: 38px;
}
.blocks4 {
  background-image: url(../images/blocks4.svg);
  width: 93px;
  height: 79px;
  margin-top: 523px;
  margin-left: 56px;
  padding-left: 30px;
  padding-top: 8px;
}
.blocks4 p {
  color: #efecdb;
  font-size: 38px;
}
.blocks5 {
  background-image: url(../images/blocks5.svg);
  width: 93px;
  height: 79px;
  margin-top: 529px;
  margin-left: 350px;
  padding-top: 44px;
  padding-left: 9px;
}
.P4 {
  margin-left: 2px;
}
.blocks5 p {
  color: #efecdb;
  font-size: 38px;
  display: inline;
}
.block6 {
  background-image: url(../images/block6.svg);
  width: 51px;
  height: 45px;
  margin-top: 574px;
  margin-left: 57px;
}
.C2 {
  margin-left: 21px;
  margin-top: -3px;
}
.gumanistic {
  background-image: url(../images/buble3.svg);
  width: 712px;
  height: 115px;
  margin-top: 151px;
  margin-left: -992px;
  padding-top: 38px;
}
.gumanistic p {
  text-align: center;
  color: rgb(235, 103, 38);
}
.girlsit {
  position: absolute;
  margin-top: 224px;
  margin-left: 141px;
}
.boysit {
  position: absolute;
  margin-top: 208px;
  margin-left: 789px;
}
.fifthscreen {
  display: block;
  position: relative;
  color: rgb(235, 103, 38);
  font-size: 24px;
}
.apertura {
  background-image: url(../images/buble-aprt.svg);
  width: 355px;
  height: 90px;
  margin-top: 146px;
  margin-left: 927px;
  padding-top: 36px;
  padding-left: 62px;
}
.apertura p {
  color: rgb(235, 103, 38);
  font-size: 24px;
}
.Ctime2 {
  margin-top: 65px;
  margin-left: 136px;
}
.Etime2 {
  margin-top: -295px;
  margin-left: 603px;
}
.Ztime2 {
  margin-top: -290px;
  margin-left: 1034px;
}
/* ШЕСТОЙ ЭКРАН */
.sixthscreen {
  display: block;
  position: relative;
  color: rgb(235, 103, 38);
  font-size: 24px;
}
.element {
  background-image: url(../images/element-buble.svg);
  width: 332px;
  height: 99px;
  margin-top: 137px;
  margin-left: 130px;
  padding-top: 36px;
  padding-left: 52px;
}
.Xframe6 {
  margin-top: 67px;
  margin-left: 114px;
}
.Yframe6 {
  margin-top: -365px;
  margin-left: 533px;
}
.Zframe6 {
  margin-top: -373px;
  margin-left: 1043px;
}
/* СЕДЬМОЙ ЭКРАН */
.seventhscreen {
  display: block;
  position: relative;
  color: rgb(235, 103, 38);
  font-size: 24px;
}
.monolit {
  background-image: url(../images/monolit.svg);
  width: 702px;
  height: 96px;
  margin-top: 145px;
  margin-left: 337px;
  padding-top: 45px;
  padding-left: 169px;
}
.line1,
.line2,
.line3,
.line4 {
  position: relative;
  width: 1439px;
  height: 3px;
  background: #eb662b;
}
.line1 {
  top: 90px;
}
.line2 {
  top: 143px;
}
.line3 {
  top: 270px;
}
.line4 {
  top: 317px;
}
.theword {
  position: relative;
  top: 80px;
  left: 104px;
}
.details {
  position: relative;
  top: -249px;
  left: 204px;
}
/* ВОСЬМОЙ ЭКРАН */
.eighthscreen {
  display: block;
  position: relative;
  color: rgb(235, 103, 38);
  font-size: 24px;
}
.replic-1-8 {
  background-image: url(../images/replic-1-8.svg);
  width: 289px;
  height: 68px;
  margin-top: -114px;
  margin-left: 283px;
  padding-top: 19px;
  padding-left: 38px;
}
.girl-on {
  margin-left: 581px;
  margin-top: -50px;
  position: absolute;
  z-index: 1;
}
.replic-2-8 {
  background-image: url(../images/replic-2-8.svg);
  width: 233px;
  height: 65px;
  margin-top: -32px;
  margin-left: 818px;
  padding-top: 17px;
  padding-left: 73px;
}
.symbols {
  font-size: 32px;
  font-family: "Fantasquesansmono-regular";
  width: 1260px;
  height: 647px;
  background-color: #eb662b;
  margin-top: 91px;
  margin-left: 91px;
  padding-top: 50px;
  padding-left: 30px;
  position: absolute;
  z-index: 2;
}
.symbols p {
  color: #efecdb;
}
.stroka2 {
  margin-top: 1px;
}
.stroka3 {
  margin-top: 3px;
}
.stroka4 {
  margin-top: 2px;
}
.stroka5 {
  margin-top: 1px;
}
.stroka6 {
  margin-top: 3px;
}
.stroka7 {
  margin-top: 2px;
}
.stroka8 {
  margin-top: 2px;
}
.stroka9 {
  margin-top: 3px;
}
.stroka10 {
  margin-top: 1px;
}
.stroka11 {
  margin-top: 1px;
}
.stroka12 {
  margin-top: 3px;
}
.stroka13 {
  margin-top: 1px;
}
.stroka14 {
  margin-top: 3px;
}
.stroka15 {
  margin-top: 1px;
}
.stroka16 {
  margin-top: 3px;
}
.stroka17 {
  margin-top: 1px;
}
.arms-symbols {
  position: absolute;
  z-index: 3;
  margin-top: 65px;
  margin-left: 605px;
}
/* ДЕВЯТЫЙ ЭКРАН */
.ninthscreen {
  display: block;
  position: relative;
  color: #efecdb;
  font-size: 24px;
  margin-top: 832px;
}
.A-symbols {
  width: 730px;
  height: 467px;
  background-color: #eb662b;
}
.table {
  position: relative;
  width: 755px;
  height: 467px;
  margin-top: 94px;
  margin-left: 93px;
  display: flex;
  flex-wrap: wrap;
}
.block1,
.block2,
.block-9-3,
.block4,
.block5,
.block-9-6,
.block7,
.block8,
.block1two,
.block2two,
.block3two,
.block4two,
.block5two,
.block6two,
.block7two,
.block8two,
.block1three,
.block2three,
.block3three,
.block4three,
.block5three,
.block6three,
.block7three,
.block8three,
.block1four,
.block2four,
.block3four,
.block4four,
.block5four,
.block6four,
.block7four,
.block8four,
.block1five,
.block2five,
.block3five,
.block4five,
.block5five,
.block6five,
.block7five,
.block8five {
  width: 94px;
  height: 93.5px;
  margin-left: -3px;

  background: #eb662b;
}
.letter1,
.letter2,
.letter3,
.letter4,
.letter5,
.letter6,
.letter7 {
  position: relative;
  font-size: 80px;
  color: #efecdb;
}
.letter1 {
  top: 0px;
  left: 18px;
}
.letter2 {
  margin-top: -2px;
  margin-left: 17px;
}
.letter3 {
  margin-top: 2px;
  margin-left: 23px;
}
.morfema {
  background-image: url(../images/morfema.svg);
  width: 314px;
  height: 148px;
  color: #eb662b;
  margin-left: 856px;
  margin-top: -447px;
  padding-top: 26px;
  padding-left: 33px;
}
.theboy {
  margin-left: 231px;
  margin-top: -113px;
}
/* ДЕСЯТЫЙ ЭКРАН */
.girl-arm {
  margin-top: 460px;
  margin-left: 74px;
}
.menaytsa {
  background-image: url(../images/menaytsa.svg);
  width: 406px;
  height: 138px;
  font-size: 24px;
  color: #eb662b;
  margin-top: -508px;
  margin-left: 287px;
  padding-left: 64px;
  padding-top: 43px;
}
.ten-letters {
  display: flex;
  color: #eb662b;
  gap: 20px;
}
.t-l-d {
  font-size: 260px;
  margin-top: -216px;
  margin-left: 752px;
}
.t-l-g {
  font-size: 305px;
  margin-top: -235px;
  margin-left: 56px;
}
.t-l-t {
  font-size: 296px;
  margin-top: -229px;
  margin-left: 67px;
}
.t-l-d-i {
  font-size: 250px;
  margin-top: -30px;
  margin-left: 750px;
}
.t-l-g-i {
  font-size: 300px;
  margin-top: -75px;
  margin-left: 60px;
}
.t-l-t-i {
  font-size: 287px;
  margin-top: -75px;
  margin-left: 70px;
}
.ten-letters-two {
  display: flex;
  font-size: 296px;
  color: #eb662b;
  font-style: italic;
  gap: 20px;
}
.eleven {
  margin-top: 347px;
  margin-left: 90px;
  font-size: 80.5px;
  color: #eb662b;
}

.eleven-italic {
  font-style: italic;
}
.eleven-bold {
  font-family: "Fantasque sans mono";
  font-weight: bold;
}
.eleven-bold-italic {
  font-style: bolditalic;
  font-weight: bold;
}
.nachertanya {
  background-image: url(../images/nachertanya.svg);
  width: 438px;
  height: 90px;
  color: #eb662b;
  font-size: 24px;
  margin-left: 690px;
  margin-top: -468px;
  padding-top: 32px;
  padding-left: 42px;
}
.girl-flowers {
  margin-left: 1077px;
  margin-top: -150px;
}
.flower-1N {
  position: absolute;
  margin-top: -507px;
  margin-left: 95px;
}
.flower-2N {
  position: absolute;
  margin-top: -471px;
  margin-left: 240px;
}
.eleven-italic {
  margin-top: 6px;
  margin-left: 3px;
}
.eleven-italic2 {
  position: absolute;
  margin-top: -81px;
  margin-left: 461px;
  font-style: italic;
}
.eleven-bold-italic {
  margin-top: 8px;
  margin-left: 3px;
}
.flower-3N {
  position: absolute;
  margin-top: -247px;
  margin-left: 464px;
}
.flower-4N {
  position: absolute;
  margin-top: -147px;
  margin-left: 673px;
}
.flower-5N {
  position: absolute;
  margin-top: -334px;
  margin-left: 863px;
}
.flower-6N {
  position: absolute;
  margin-top: -104px;
  margin-left: 1053px;
}
.flower-7N {
  position: absolute;
  margin-top: -64px;
  margin-left: 1289px;
}
.boy-on-box {
  position: absolute;
  margin-top: 248px;
  margin-left: 199px;
  z-index: 1;
}
.on-box-1 {
  background-image: url(../images/on-box-1.svg);
  width: 583px;
  height: 106px;
  color: #eb662b;
  font-size: 24px;
  margin-top: 150px;
  position: absolute;
  margin-left: 350px;
  padding-top: 27px;
  padding-left: 93px;
}
.on-box-2 {
  background-image: url(../images/on-box-2.svg);
  width: 297px;
  height: 92px;
  color: #eb662b;
  font-size: 24px;
  position: absolute;
  margin-top: 278px;
  margin-left: 710px;
  padding-top: 30px;
  padding-left: 62px;
}
.on-box-3 {
  background-image: url(../images/on-box-3.svg);
  width: 297px;
  height: 83px;
  color: #eb662b;
  font-size: 24px;
  position: absolute;
  margin-top: 400px;
  margin-left: 462px;
  padding-top: 30px;
  padding-left: 93px;
}
.girl-on-box {
  position: absolute;
  margin-top: 256px;
  margin-left: 1054px;
  z-index: 1;
}
.orange-box {
  background-color: #eb662b;
  width: 1445px;
  height: 704px;
  position: absolute;
  z-index: 2;
  margin-top: 521px;
}
.arms-boy-box {
  position: absolute;
  z-index: 3;
  margin-top: 401px;
  margin-left: 225px;
}
.arms-girl-box {
  position: absolute;
  z-index: 3;
  margin-top: 491px;
  margin-left: 1055px;
}
.boy-lupa {
  margin-top: 1415px;
  margin-left: 38px;
}
.size {
  background-image: url(../images/buble-size.svg);
  width: 236px;
  height: 153px;
  color: #eb662b;
  font-size: 24px;
  margin-top: -526px;
  margin-left: 262px;
  padding-top: 33px;
  padding-left: 50px;
}
.px12 {
  font-size: 12px;
  margin-top: -68px;
}
.px18 {
  font-size: 18px;
  margin-top: 84px;
  margin-left: -10px;
}
.px24 {
  font-size: 24px;
  margin-top: 107px;
  margin-left: -23px;
}
.pixels {
  color: #eb662b;
  margin-left: 544px;
}
.text-px-12 {
  margin-top: -246px;
  margin-left: 586px;
  color: #eb662b;
  font-size: 12px;
}
.text-px-18 {
  margin-top: 57px;
  margin-left: 586px;
  color: #eb662b;
  font-size: 18px;
}
.text-px-24 {
  margin-top: 38px;
  margin-left: 585px;
  color: #eb662b;
  font-size: 24px;
}
